<div ng-include="'partials/navbar'"></div>

<div id="titleRow" class="row">
    <h2 class="pull-left col-md-9">Landscapes</h2>
    <div class="col-md-3">
        <div class="pull-right">
            <button type="button" class="btn btn-default"
                    ng-show="hasPermission(currentUser, 'C')"
                    ng-click="go('/landscape/new')">
                <span class="glyphicon glyphicon-plus-sign"></span> New
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div ng-repeat="landscape in landscapes | orderBy:'-createdAt'">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>{{landscape.name}}</strong></h3>
                </div>
                <div class="panel-body">

                    <div class="media">
                        <!--hide hyperlink-->
                        <a class="pull-left" href="{{ '/landscapes/'}}" ng-show="!hasPermission(currentUser, 'R', landscape._id)">
                          <img class="media-object" style="max-height: 128px; max-width: 192px" ng-src="{{landscape.imageUri}}" />
                        </a>
                        <a class="pull-left" href="{{ '/landscapes/'+ landscape._id }}" ng-show="hasPermission(currentUser, 'R', landscape._id)">
                         <img class="media-object" style="max-height: 128px; max-width: 192px"
                              ng-src="{{landscape.imageUri}}" />
                        </a>
                        <div class="media-body" style="min-height: 128px">
                            <p>{{landscape.description}}</p>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div style="position: absolute; right: 0px; bottom: 0px;" class="pull-right">
                            <button type="button" class="btn btn-default"
                                    ng-show="hasPermission(currentUser, 'R', landscape._id)"
                                    ng-click="go('/landscapes/'+ landscape._id)">
                                <span class="glyphicon glyphicon-share-alt"></span> View
                            </button>
                            <button type="button" class="btn btn-default"
                                    ng-show="hasPermission(currentUser, 'X', landscape._id)"
                                    ng-click="go('/deploy/' + landscape._id)">
                                <span class="glyphicon glyphicon-cloud-upload"></span> Deploy
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-include="'partials/footer'"></div>