<div class="col-md-12" ng-controller="ListLandscapeDeployments">
    <div class="panel panel-default" ng-show="deployments.length">
        <div class="panel-heading title-heading">
            <h2 class="panel-title">Deployments</h2>
        </div>
        <div class="panel-body">
            <div>
                <accordion>
                    <accordion-group ng-repeat="deployment in deployments | orderBy: '-createdAt'"
                                     is-open="deployment.open"
                                     ng-class="{'panel-primary': deployment.open, 'panel-danger': deployment.awsErrors}">

                        <accordion-heading>
                            {{deployment.stackName}}
                            <div class="pull-right" ng-show="!deployment.open">
                                {{deployment.createdAt | date : 'MM/dd/yyyy @ HH:mm'}}
                            </div>

                            <div class="pull-right">
                                <button class="btn btn-sm btn-default" target="_blank"
                                        ng-show="deployment.open"
                                        ng-click="newWindow('https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks?filter=active')">
                                    <span class="glyphicon glyphicon-share-alt"></span> View in AWS
                                </button>
                            </div>
                        </accordion-heading>

                        <table class="deploymentsTable">
                            <tr ng-show="deployment.awsErrors" style="color: #a94442;">
                                <td><strong>Errors:</strong></td>
                                <td>{{deployment.awsErrors}}</td>
                            </tr>
                            <tr>
                                <td><strong>Landscape:</strong></td>
                                <td>{{landscape.name}} v{{landscape.version}}</td>
                            </tr>
                            <tr>
                                <td><strong>Location:</strong></td>
                                <td>{{deployment.location}}</td>
                            </tr>
                            <tr ng-show="deployment.billingCode">
                                <td style="width: 100px"><strong>Billing Code:</strong></td>
                                <td>{{deployment.billingCode}}</td>
                            </tr>
                            <tr ng-show="deployment.description">
                                <td><strong>Description:</strong></td>
                                <td>{{deployment.description}}</td>
                            </tr>
                            <tr ng-show="deployment.createdBy">
                                <td><strong>Created By:</strong></td>
                                <td>{{deployment.createdBy}}</td>
                            </tr>
                            <tr ng-show="deployment.createdAt">
                                <td><strong>Created At:</strong></td>
                                <td>{{deployment.createdAt}}</td>
                            </tr>
                            <tr ng-show="deployment.stackId">
                                <td><strong>Stack ID:</strong></td>
                                <td>{{deployment.stackId}}</td>
                            </tr>

                            <tr ng-show="deployment.cloudFormationParameters.length">
                                <td><strong>Parameters:</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        <div ng-show="deployment.cloudFormationParameters.length">
                            <table class="table table-striped table-condensed" style="margin-bottom: 10px; border: 1px solid #dddddd;">
                                <tr ng-repeat="param in deployment.cloudFormationParameters">
                                    <td style="width: 5%">{{$index+1}}</td>
                                    <td style="width: 20%"><strong>{{param.ParameterKey}}</strong></td>
                                    <td style="width: 75%">{{param.ParameterValue}}</td>
                                </tr>
                            </table>
                        </div>
                        <div ng-show="deployment.flavor != 'None' ||  deployment.description || deployment.billingCode">
                            <p style="margin: 0 0 5px 0"><strong>Tags:</strong></p>
                            <table class="table table-striped table-condensed" style="margin-bottom: 30px; border: 1px solid #dddddd;">
                                <tr ng-show="deployment.flavor != 'None'">
                                    <td style="width: 5%">1</td>
                                    <td style="width: 20%"><strong>Flavor</strong></td>
                                    <td style="width: 75%">{{deployment.flavor}}</td>
                                </tr>
                                <tr ng-show="deployment.description">
                                    <td style="width: 5%">2</td>
                                    <td style="width: 20%"><strong>Description</strong></td>
                                    <td style="width: 75%">{{deployment.description}}</td>
                                </tr>
                                <tr ng-show="deployment.billingCode">
                                    <td style="width: 5%">3</td>
                                    <td style="width: 20%"><strong>Billing Code</strong></td>
                                    <td style="width: 75%">{{deployment.billingCode}}</td>
                                </tr>
                            </table>
                        </div>
                        <div ng-show="deployment.notes.length">
                            <p style="margin: 20px 0 3px 0"><strong>Notes:</strong></p>
                            <div class="well well-sm">
                                <div ng-repeat="note in deployment.notes">
                                    <p style="margin-bottom:0"><strong>{{note.createdBy.name}} - {{note.createdAt | date : 'medium'}}</strong></p>
                                    <p class="noteText" style="">{{note.text}}</p>
                                </div>
                            </div>

                            <div ng-show="addNote" >
                                <div class="form-group">
                                    <textarea class="form-control" name="noteText" rows="3" ng-model="newNote.text" />
                                </div>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="cancelNote($index)">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
                                <button type="button" class="btn btn-sm btn-default" ng-click="saveNote(deployment._id, $index)">
                                    <span class="glyphicon glyphicon-save"></span> Save</button>
                            </div>

                            <button type="button" class="btn btn-sm btn-default" ng-show="!addNote" ng-click="addNote = true">
                                <span class="glyphicon glyphicon-pencil"></span> Add Note</button>
                        </div>

                    </accordion-group>
                </accordion>
            </div>

        </div>
    </div>
</div>