<div ng-include="'partials/navbar'"></div>

<div>

<div id="titleRow" class="row">
    <h2 class="pull-left col-md-9">{{landscape.name}}</h2>
    <div class="col-md-3" style="display: inline-block">
        <div class="pull-right hidden-sm hidden-xs">
            <button type="button" class="btn btn-default"
                    ng-show="hasPermission(currentUser, 'U', landscape._id)"
                    ng-click="go('/landscapes/' + landscape._id + '/edit')">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
            <button type="button" class="btn btn-primary"
                    ng-show="hasPermission(currentUser, 'X', landscape._id)"
                    ng-click="go('/deploy/' + landscape._id)">
                <span class="glyphicon glyphicon-cloud-upload"></span> Deploy
            </button>

        </div>
    </div>
</div>

<div id="bodyRow" class="row" >

<div id="menu" class="col-md-2" style="margin-bottom: 20px" >
    <div class="row">

        <div class="btn-group col-md-12 visible-sm visible-xs">
            <button type="button" class="btn btn-default "
                    ng-class="{active: selected == item}"
                    ng-repeat="item in menu"
                    ng-click="buttonClick(item)">{{item}}
            </button>
        </div>


        <div class="btn-group-vertical col-md-12 hidden-sm hidden-xs">
            <button type="button" class="btn btn-default "
                    ng-class="{active: selected == item}"
                    ng-repeat="item in menu"
                    ng-click="buttonClick(item)">{{item}}
            </button>
        </div>

        <div class="col-md-3 visible-sm visible-xs" >
            <div class="pull-right" >
                <button type="button" class="btn btn-default"
                        ng-show="hasPermission(currentUser, 'U', landscape._id)"
                        ng-click="go('/landscapes/' + landscape._id + '/edit')">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <button type="button" class="btn btn-primary"
                        ng-show="hasPermission(currentUser, 'X', landscape._id)"
                        ng-click="go('/deploy/' + landscape._id)">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Deploy
                </button>
            </div>
        </div>
    </div>
</div>

<div id="content" class="col-md-10">

    <div class="row">

        <div class="col-sm-12" ng-show="selected=='Overview'">


            <div class="row">
                <div class="col-md-12">
                    <div class="media" style="margin-bottom: 20px">
                        <a class="pull-left" href="{{ '/landscapes/' + landscape._id + '/history'}}">
                            <img class="media-object" src="{{landscape.imageUri}}" alt="..." style="margin-right: 10px;">
                        </a>
                        <div class="media-body well">
                            <div class="row">
                                <div class="col-md-3">
                                    <p><span>Version </span> {{landscape.version}}</p>
                                </div>
                                <div class="col-md-9 hidden-sm hidden-xs">
                                    <div class="pull-right">
                                        Created by <strong>{{user.profile.name}}</strong> at {{landscape.createdAt | date : 'short'}}
                                    </div>
                                </div>
                                <div class="col-md-12 visible-sm visible-xs">
                                    <p>
                                        Created by {{user.profile.name}} at {{landscape.createdAt | date : 'short'}}
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <hr style="border-color: #cccccc; margin-top: 0">
                                    <p ng-show="landscape.description">{{landscape.description}}</p>
                                    <p ng-show="landscape.infoLink">
                                        <a href="{{landscape.infoLink}}" target="_blank">
                                            {{landscape.infoLinkText}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-include="'partials/landscape/list-landscape-deployments'"></div>

            </div>
        </div>

        <div class="col-sm-12" ng-show="selected=='Template'">
            <div class="row" >
                <div class="col-md-12">
                    <tabset style="margin-bottom: 30px; border-bottom: 2px solid #dddddd;">

                        <tab heading="Resources" ng-show=resourcesKeys.length>
                            <tab-heading>Resources <span class="badge">{{ resourcesKeys.length || 0 }}</span></tab-heading>
                            <table class="table table-striped" >
                                <tr ng-repeat="(key, value) in template.Resources track by $index" ng-show="value.Type">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        {{key}}
                                    </td>
                                    <td>{{value.Type}}</td>
                                </tr>

                            </table>
                        </tab>

                        <tab heading="Parameters" ng-show=parametersKeys.length>
                            <tab-heading>Parameters <span class="badge">{{ parametersKeys.length || 0 }}</span></tab-heading>
                            <table class="table table-striped">
                                <tr ng-repeat="(key, value) in template.Parameters track by $index">
                                    <td style="width: 10px">{{$index+1}}</td>
                                    <td style="padding-right: 30px;">
                                        <a ng-click="showTable=!showTable">{{key}}</a>
                                        <table class="table table-striped"
                                               style="margin-top: 5px; margin-bottom: 15px; border: 1px solid #cccccc;"
                                               ng-show="showTable">
                                            <tr ng-repeat="(k,val) in value track by $index">
                                                <td>{{k}}:</td>
                                                <td ng-show="!isArray(val)"><i>{{val}}</i></td>
                                                <td ng-show="isArray(val)">
                                                    <i ng-repeat="v in val track by $index">{{v}}; </i>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr ng-show="template.Parameters.length"><td>-</td></tr>
                            </table>
                        </tab>

                        <tab heading="Mappings" ng-show=mappingsKeys.length>
                            <tab-heading>Mappings <span class="badge">{{ mappingsKeys.length || 0 }}</span></tab-heading>
                            <table class="table table-striped" >
                                <tr ng-repeat="(key, value) in template.Mappings track by $index">
                                    <td style="width: 10px">{{$index+1}}</td>
                                    <td><a ng-click="showTable=!showTable">{{key}}</a>
                                        <table style="margin-left: 20px" ng-show="showTable">
                                            <tr ng-repeat="(k,val) in value track by $index">
                                                <td style="padding-right: 20px">{{k}}</td>
                                                <td ng-repeat="(k1,v1) in v track by $index"><i>{{k1}}:{{v1}}</i></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr ng-show="template.Mappings.length"><td>-</td></tr>
                            </table>
                        </tab>

                    </tabset>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading title-heading">
                    <h2 class="panel-title pull-left">CloudFormation Template</h2>
                </div>
                <div class="panel-body">
                    <textarea class="form-control awsTemplate" ng-auto-expand readonly>{{template | json}}</textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-12" ng-show="selected=='Flavors'">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading title-heading">
                            <h2 class="panel-title pull-left">Parameter Groups</h2>
                            <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-default" ng-click="addFlavor()">
                                    <span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                <accordion>
                                    <accordion-group ng-repeat="flavor in flavors" is-open="flavor.open" ng-class="{'panel-primary': flavor.open}">
                                        <accordion-heading>
                                            {{flavor.title}}<i class="pull-right glyphicon" ng-class="{'glyphicon-remove': !flavor.open}"></i>
                                        </accordion-heading>
                                        <form role="form">
                                            <table style="margin-bottom: 0; border-bottom: 1px solid lightgray" class="table table-striped table-condensed">
                                                <tr>
                                                    <td style="border: none; background: none">
                                                        <input type="text" class="form-control" id="key" placeholder="Key">
                                                    </td>
                                                    <td style="border: none; background: none">
                                                        <input type="text" class="form-control" id="value" placeholder="Value">
                                                    <td style="border: none; background: none">
                                                        <button type="submit" class="btn btn-sm btn-primary pull-right" ng-click="addItem()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="item in items">
                                                    <td>{{item.key}}</td>
                                                    <td>{{item.value}}</td>
                                                    <td>
                                                        <div class="pull-right">
                                                            <button class="btn btn-default btn-sm" ng-click="editItem()"><span class="glyphicon glyphicon-pencil"></span></button>
                                                            <button class="btn btn-default btn-sm" ng-click="deleteItem()"><span class="glyphicon glyphicon-remove"></span></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" ng-show="selected=='History'">
            <h4>History</h4>
        </div>

    </div> <!-- end class=row -->

</div> <!-- end id=content -->

</div> <!-- end id=bodyRow -->

</div>

<div ng-include="'partials/footer'"></div>