<div ng-include="'partials/navbar.html'"></div>

<h1>Deploy {{deployment.type}}</h1>
<hr>
<div class="row">
<form class="form" name="form" ng-submit="deploy(form)" novalidate>

<div class="col-sm-12">
    <div class="col-sm-6">
        <div class="form-group"
             ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="deployment.name" required/>
        </div>
        <div class="form-group">


            <label>Location</label>
            <select name="location" class="form-control" ng-model="deployment.location">
                <option value="1">US East (Northern Virginia)</option>
                <option>US West (Oregon)</option>
                <option>US West (Northern California)</option>
                <option>AWS GovCloud (US)</option>
            </select>

        </div>
        <div class="form-group">
            <label>Billing Code</label>
            <input type="text" name="billingCode" class="form-control" ng-model="deployment.billingCode"/>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label>Description</label>
        <textarea class="form-control" name="description" rows="6"
                  ng-model="deployment.description"></textarea>
    </div>
</div>

<div class="col-sm-12">
    <hr>
</div>

<div class="col-sm-12">

<div class="row">
    <div class="col-sm-3 deploymentfeature">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Analytics</h3>
            </div>
            <div class="panel-body">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        EBS-Optimized EC2 Instances
                    </label>
                </div>

                <p>"OptimizedInstance"
                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Business Support Services (BSS)</h3>
            </div>
            <div class="panel-body">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Order Mgmt
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Pricing
                    </label>
                </div>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Subscriber Mgmt
                    </label>
                </div>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Accounting and Billing
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Operational Support Services (OSS)</h3>
            </div>
            <div class="panel-body">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Service Activation
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Events and Alarms
                    </label>
                </div>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        KPI and SLA Reporting
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Security</h3>
            </div>
            <div class="panel-body">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Intrusion Detection System
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        SIEM
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Anomaly Identification
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Two Factor Authentication
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Polymorphic Attack Surface Policy
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Infrastructure Services</h3>
            </div>
            <div class="panel-body">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Map Reduce
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Event Stream Processor
                    </label>
                </div>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Enterprise Service Bus
                    </label>
                </div>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Archive Storage
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        WAN Accelerators
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Continuous Delivery Pipeline</h3>
            </div>
            <div class="panel-body">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Continuous Integration
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Automated Testing
                    </label>
                </div>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Automated Deployment
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Build Pipeline Mgmt
                    </label>
                </div>


            </div>
        </div>
    </div>
</div>

</div>

<div class="col-sm-12">
    <button class="btn btn-lg" type="button" ng-click="go('/')">Cancel</button>
    <button class="btn btn-lg btn-primary" type="submit">Deploy</button>
</div>

</form>
</div>

<div class="footer" style="margin-top: 17px;">
    <div class="pull-left"><p>Version 0.0.0</p></div>
    <div class="pull-right"><span ng-show="currentUser">{{ currentUser.name }}</span></div>
</div>