<div ng-include="'partials/navbar'"></div>
<div class="row">
    <h2 style="margin-top: 0" class="pull-left col-md-9">{{landscape.name}}</h2>
    <div class="col-md-3">
        <!--<button type="button" class="btn-sm pull-right" ng-click="go('/')">All Landscapes</button>-->
        <div class="pull-right">
            <button type="button" class="btn" ng-click="go('/landscapes')">
                <span class="glyphicon glyphicon-edit"></span> Edit</button>
            <button type="button" class="btn btn-primary" ng-click="go('/deploy')">
                <span class="glyphicon glyphicon-cloud-upload"></span> Deploy</button>

        </div>
    </div>
</div>
<div class="row">
    <div ng-data="landscape">
        <div class="col-md-6">
            <div class="well" style="min-height: 200px">
                <div class="pull-right" style="margin-left: 30px" >
                    <img src="{{landscape.imageUrl}}" alt="...">
                    <div>name_of_image_file</div>
                </div>
                <div class="">
                    <p><span><strong>Description: </strong></span>
                    {{landscape.description}}. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non
                        odio gravida, ornare diam ac, consectetur lacus. Suspendisse id ullamcorper erat. Pellentesque
                        facilisis lorem id quam ornare accumsan.</p>
                </div>
                <div>
                    <p><span><strong>version: </strong></span> 1.4</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--<button type="button" class="btn-sm btn-primary" ng-click="go('/deploy')">Deploy</button>-->
                    <!--<button type="button" class="btn-sm" ng-click="go('/landscapes')">Edit</button>-->
                    <br>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <h4 style="margin-top: 0; border-bottom: 1px solid lightgray; padding-bottom: 10px">Deployments</h4>
                        <div class="alert-info" style=" padding: 10px; margin-bottom: 7px">
                            <span class="glyphicon glyphicon-minus-sign"></span> 12/15/2013 01:59:01 &nbsp; Cyber Warfare Test Range &nbsp;v1.0
                        </div>
                        <div class="alert-success" style=" padding: 10px; margin-bottom: 7px">
                            <span class="glyphicon glyphicon-ok-sign"></span> 01/15/2014 01:59:01 &nbsp; Cyber Warfare Test Range &nbsp;v1.3
                        </div>
                        <div class="alert-danger" style=" padding: 10px; margin-bottom: 7px">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> 04/23/2014 01:59:01 &nbsp; Cyber Warfare Test Range &nbsp;v1.4
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h4 style="margin-top: 0">Cloud Formation Template</h4>
                <textarea class="form-control" rows="15">{
                "AWSTemplateFormatVersion":"2010-09-09",
                "Description":"VPC DevOps Group",
                "Parameters":{
                "VpcId":{
                "Description":"Id of VPC",
                "Type":"String",
                "Default":"vpc-e983468c"
                },
                "subnetId1":{
                "Description":"Id of the subnet for these boxes",
                "Type":"String",
                "Default":"subnet-9ce9d0da"
                },
                "subnetId2":{
                "Description":"2nd Id of the subnet for these boxes",
                "Type":"String",
                "Default":"subnet-3fabf217"
                },
                "BackendSubnetSGId":{
                "Description":"Id of security group for these boxes",
                "Type":"String",
                "Default":"sg-4558e920"
                },
                "HostedZoneId":{
                "Description":"Id of the hosted zone for route 53 records",
                "Type":"String",
                "Default":"Z358LNG0XOCW3B"
                },
                "Environment":{
                "Description":"Name of the environment for deployment",
                "Type":"String",
                "Default":"dev"
                },
                "InstanceType":{
                "Description":"Default type of EC2 instance to launch.",
                "Type":"String",
                "Default":"m1.medium",
                "AllowedValues":[
                "t1.micro",
                "m1.small",
                "m1.medium",
                "m1.large",
                "m1.xlarge",
                "m2.xlarge",
                "m2.2xlarge",
                "m2.4xlarge",
                "m3.large",
                "m3.xlarge",
                "m3.2xlarge",
                "c1.xlarge",
                "cc2.8xlarge",
                "cg1.4xlarge",
                "cr1.8xlarge",
                "hi1.4xlarge",
                "hs1.8xlarge"
                ],
                "ConstraintDescription":"must be a valid EC2 instance type."
                }
                },
                "Mappings":{
                "IPMap":{
                "dev":{
                "ipSpace":"10.22"
                },
                "sit":{
                "ipSpace":"10.21"
                }
                },
                "EnvMap":{
                "dev":{
                "ChefBucketName":"openwhere-devdevops",
                "imageId":"ami-2f726546",
                "KeyName":"OpenWhereRoot"
                },
                "sit":{
                "ChefBucketName":"openwhere-sit-devops",
                "imageId":"ami-2f726546",
                "KeyName":"OpenWhereRoot"
                }
                }
                },
                "Resources":{
                "VPNRole":{
                "Type":"AWS::IAM::Role",
                "Properties":{
                "AssumeRolePolicyDocument":{
                "Statement":[
                {
                "Effect":"Allow",
                "Principal":{
                "Service":[
                "ec2.amazonaws.com"
                ]
                },
                "Action":[
                "sts:AssumeRole"
                ]
                }
                ]
                },
                "Path":"/",
                "Policies":[
                {
                "PolicyName":"cloudwatch-basic",
                "PolicyDocument":{
                "Version":"2012-10-17",
                "Statement":[
                {
                "Sid":"Stmt1395950054000",
                "Effect":"Allow",
                "Action":[
                "cloudwatch:EnableAlarmActions",
                "cloudwatch:PutMetricData",
                "cloudwatch:PutMetricAlarm"
                ],
                "Resource":[
                "*"
                ]
                }
                ]
                }
                }
                ]
                }
                },
                "VPNInstanceProfile":{
                "Type":"AWS::IAM::InstanceProfile",
                "Properties":{
                "Path":"/",
                "Roles":[
                {
                "Ref":"VPNRole"
                }
                ]
                }
                },
                "bAS01":{
                "Type":"AWS::EC2::Instance",
                "Properties":{
                "KeyName":{
                "Fn::FindInMap":[
                "EnvMap",
                {
                "Ref":"Environment"
                },
                "KeyName"
                ]
                },
                "InstanceType":{
                "Ref":"InstanceType"
                },
                "ImageId":{
                "Fn::FindInMap":[
                "EnvMap",
                {
                "Ref":"Environment"
                },
                "imageId"
                ]
                },
                "IamInstanceProfile":{
                "Ref":"VPNInstanceProfile"
                },
                "NetworkInterfaces":[
                {
                "GroupSet":[
                {
                "Ref":"BackendSubnetSGId"
                }
                ],
                "PrivateIpAddress":{
                "Fn::Join":[
                ".",
                [
                {
                "Fn::FindInMap":[
                "IPMap",
                {
                "Ref":"Environment"
                },
                "ipSpace"
                ]
                },
                "1.145"
                ]
                ]
                },
                "AssociatePublicIpAddress":"true",
                "DeviceIndex":"0",
                "DeleteOnTermination":"true",
                "SubnetId":{
                "Ref":"subnetId1"
                }
                }
                ],
                "BlockDeviceMappings":[
                {
                "DeviceName":"/dev/sda1",
                "Ebs":{
                "VolumeSize":"8"
                }
                }
                ],
                "Tags":[
                {
                "Key":"Name",
                "Value":"VPNServer"
                },
                {
                "Key":"Owner",
                "Value":"CloudFormated"
                }
                ]
                }
                },
                "VPNEIP":{
                "Type":"AWS::EC2::EIP",
                "Properties":{
                "InstanceId":{
                "Ref":"bAS01"
                },
                "Domain":"vpc"
                }
                },
                "VPBDNSRecord":{
                "Type":"AWS::Route53::RecordSet",
                "DependsOn": "VPNEIP",
                "Properties":{
                "HostedZoneId":{
                "Ref":"HostedZoneId"
                },
                "Comment":"DNS name for Archive System instance.",
                "Name":{
                "Fn::Join":[
                "",
                [
                "vpn",
                ".",
                {
                "Ref":"Environment"
                },
                ".",
                "openwheredemo.com"
                ]
                ]
                },
                "Type":"A",
                "TTL":"900",
                "ResourceRecords":[
                {
                "Fn::GetAtt":[
                "bAS01",
                "PublicIp"
                ]
                }
                ]
                }
                }
                }
                }
                </textarea>
            </div>
        </div>
    </div>
</div>



<div class="footer">
    <div class="pull-left"><p>Version 0.0.0</p></div>
    <div class="pull-right"><span ng-show="currentUser">{{ currentUser.name }}</span></div>
</div>