<div ng-include="'partials/navbar'"></div>
<div id="titleRow" class="row">
    <h2 class="pull-left col-md-9">{{landscape.name}}</h2>
    <div class="col-md-3">
        <!--<button type="button" class="btn-sm pull-right" ng-click="go('/')">All Landscapes</button>-->
        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="go('/landscapes/' + landscape._id + '/edit')">
                <span class="glyphicon glyphicon-edit"></span> Edit</button>
            <button type="button" class="btn btn-primary" ng-click="go('/deploy/' + landscape._id)">
                <span class="glyphicon glyphicon-cloud-upload"></span> Deploy</button>

        </div>
    </div>
</div>
<div class="row">
    <div ng-data="landscape">
        <div class="col-md-6">
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="{{ '/landscapes/' + landscape._id + '/history'}}">
                        <img class="media-object" src="{{landscape.imageUri}}" alt="..." style="margin-right: 10px;">
                    </a>
                    <div class="media-body">
                        <p><span>Version </span> {{landscape.version}}</p>
                        <p ng-show="landscape.description">{{landscape.description}}</p>
                        <p ng-show="landscape.infoLink">
                            <a href="{{landscape.infoLink}}" target="_blank">{{landscape.infoLinkText}}</a>
                        </p>
                    </div>
                </div>
                <div style="position: relative;">
                    <div style="position: absolute; right: 0px; bottom: 0px;" class="pull-right" hidden>
                        <button type="button" class="btn btn-default" ng-click="go('/landscapes/' + landscape._id + '/history')"><span class="glyphicon glyphicon-time"></span> History</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading title-heading">
                            <h2 class="panel-title pull-left">Flavors</h2>
                            <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-default" ng-click="addFlavor()">
                                    <span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div ng-controller="AccordionDemoCtrl">
                                <accordion>
                                    <accordion-group ng-repeat="flavor in flavors" is-open="flavor.open" ng-class="{'panel-primary': flavor.open}">
                                        <accordion-heading>
                                            {{flavor.title}}<i class="pull-right glyphicon" ng-class="{'glyphicon-remove': !flavor.open}"></i>
                                        </accordion-heading>
                                        <form role="form">
                                            <table style="margin-bottom: 0; border-bottom: 1px solid lightgray" class="table table-striped table-condensed">
                                                <tr>
                                                    <td style="border: none; background: none">
                                                        <input type="text" class="form-control" id="key" placeholder="Key">
                                                    </td>
                                                    <td style="border: none; background: none">
                                                        <input type="text" class="form-control" id="value" placeholder="Value">
                                                    <td style="border: none; background: none">
                                                        <button type="submit" class="btn btn-sm btn-primary pull-right" ng-click="addItem()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="item in items">
                                                    <td>{{item.key}}</td>
                                                    <td>{{item.value}}</td>
                                                    <td>
                                                        <div class="pull-right">
                                                            <button class="btn btn-default btn-sm" ng-click="editItem()"><span class="glyphicon glyphicon-pencil"></span></button>
                                                            <button class="btn btn-default btn-sm" ng-click="deleteItem()"><span class="glyphicon glyphicon-remove"></span></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading title-heading">
                            <h2 class="panel-title">Deployments</h2>
                        </div>
                        <div class="panel-body">
                            <div ng-controller="AccordionDemoCtrl">
                                <accordion>

                                    <accordion-group ng-repeat="deployment in deployments | orderBy: '-createdAt'"
                                                     is-open="deployment.open" ng-class="{'panel-primary': deployment.open}">

                                        <accordion-heading>
                                            {{deployment.stackName}}
                                            <div class="pull-right" ng-show="!deployment.open">
                                                {{deployment.createdAt | date : 'MM/dd/yyyy @ HH:mm'}}
                                            </div>

                                            <div class="pull-right">
                                            <button class="btn btn-sm btn-default" target="_blank"
                                                    ng-show="deployment.open"
                                                    ng-click="newWindow('https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks?filter=active')">
                                                <span class="glyphicon glyphicon-share-alt"></span> View in AWS</button>
                                            </div>


                                        </accordion-heading>

                                        <div>
                                            <p><strong>Landscape:</strong> {{landscape.name}} v{{landscape.version}}</p>
                                        </div>

                                        <p><strong>Location:</strong> {{deployment.location}}</p>
                                        <p ng-show="deployment.billingCode"><strong>Billing Code:</strong> {{deployment.billingCode}}</p>
                                        <p ng-show="deployment.description"><strong>Description:</strong> {{deployment.description}}</p>

                                        <p ng-show="deployment.createdBy"><strong>Created By:</strong> {{deployment.createdBy}}</p>
                                        <p ng-show="deployment.createdAt"><strong>Created At:</strong> {{deployment.createdAt}}</p>

                                        <p style="margin-bottom: 0"><strong>Parameters</strong></p>
                                        <div class="well well-sm">
                                            <div ng-repeat="item in items"><p><strong>{{item.key}}:</strong> {{item.value}}</p></div>
                                        </div>



                                        <p style="margin-bottom: 0"><strong>Notes</strong></p>
                                        <div class="well well-sm">
                                            <p style="margin-bottom:0"><strong>mfincher at 2014-05-11 04:34:55</strong></p>
                                            <p>I wrote an awesome note about what I learned from this deployment and how to update the DEV flavor with new parameters.</p>
                                            <p style="margin-bottom:0"><strong>dvernon at 2014-05-11 14:04:31</strong></p>
                                            <p>I know how to to update the DEV flavor with new parameters.</p>
                                        </div>
                                        <button type="button" class="btn btn-sm btn-default" ng-click="go('/deployments/' + deployment._id + '/template' )">
                                            <span class="glyphicon glyphicon-pencil"></span> Add Note</button>

                                    </accordion-group>
                                </accordion>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="templateRow" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading title-heading">
                <h2 class="panel-title pull-left">CloudFormation Template</h2>
            </div>
            <div class="panel-body">
                <textarea class="form-control awsTemplate" ng-auto-expand readonly>{{landscape.cloudFormationTemplate}}</textarea>
        </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="pull-left"><p>Version 0.0.0</p></div>
    <div class="pull-right"><span ng-show="currentUser">{{ currentUser.name }}</span></div>
</div>