<div ng-include="'partials/navbar'"></div>

<div class="row">
    <div ng-repeat="landscape in landscapes">
        <div class="col-md-6">
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="{{landscape.imageUrl}}" alt="...">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">{{landscape.name}}</h4>

                        <p>{{landscape.description}}</p>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="go('/deploy')"><span class="glyphicon glyphicon-cloud-upload"></span> Deploy</button>
                    <button type="button" class="btn" ng-click="go('/landscapes/'+ landscape._id)"><span class="glyphicon glyphicon-check"></span> Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="pull-left"><p>Version 0.0.0 <span>see awsbox</span></p></div>
    <div class="pull-right"><span ng-show="currentUser">{{ currentUser.name }}</span></div>
</div>