


<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 deploymentfeature">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Optimized Instance</h3>
                        </div>
                        <div class="panel-body">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    EBS-Optimized EC2 Instances
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Business Support Services (BSS)</h3>
                        </div>
                        <div class="panel-body">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Order Mgmt
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Pricing
                                </label>
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Subscriber Mgmt
                                </label>
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Accounting and Billing
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Operational Support Services (OSS)</h3>
                        </div>
                        <div class="panel-body">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Service Activation
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Events and Alarms
                                </label>
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    KPI and SLA Reporting
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Security</h3>
                        </div>
                        <div class="panel-body">

                            <dynamic-form template="formTemplate" ng-model="parameters" ng-submit="processForm()">
                                <legend>Legend</legend>
                            </dynamic-form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Infrastructure Services</h3>
                        </div>
                        <div class="panel-body">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Map Reduce
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Event Stream Processor
                                </label>
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" checked>
                                    Enterprise Service Bus
                                </label>
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Archive Storage
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    WAN Accelerators
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Continuous Delivery Pipeline</h3>
                        </div>
                        <div class="panel-body">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Continuous Integration
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Automated Testing
                                </label>
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Automated Deployment
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Build Pipeline Mgmt
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>