<div ng-include="'partials/navbar.html'"></div>

<form class="form" name="form" role="form" ng-submit="createNewDeployment(form)" novalidate>

    <div id="titleRow" class="row">
        <h2 class="pull-left col-md-9">
            <span class="glyphicon glyphicon-cloud-upload"></span> Deploy <small style="display: inline-block">{{landscape.name}}</small>
        </h2>
        <div class="col-md-3">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" ng-click="go('/landscapes/' + landscape._id)">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Deploy
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-horizontal">

                                <div class="form-group" ng-class="{ 'has-success': form.stackName.$valid && submitted, 'has-error': form.stackName.$invalid && submitted }">
                                    <label for="deploymentStackName" class="col-md-4 control-label">Stack Name</label>
                                    <div class="col-md-8">
                                        <input type="text" id="deploymentStackName" name="stackName" class="form-control" ng-model="deployment.stackName" required/>
                                        <p class="help-block" ng-show="form.stackName.$error.required && submitted">
                                            Stack Name is required.
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="accounts">
                                    <label for="deploymentAccount" class="col-md-4 control-label">Account</label>
                                    <div class="col-md-8">
                                        <select id="deploymentAccount" name="account" class="form-control"
                                                ng-options="account.id as account.name for account in accounts"
                                                ng-change="changeAccount()"
                                                ng-model="deployment.account">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="deploymentLocation" class="col-md-4 control-label">Region</label>
                                    <div class="col-md-8">
                                        <select id="deploymentLocation" name="location" class="form-control" ng-model="deployment.location">
                                            <option value="us-east-1">US East (Northern Virginia)</option>
                                            <option value="us-west-1">US West (Northern California) Region</option>
                                            <option value="us-west-2">US West (Oregon) Region</option>
                                            <option value="eu-west-1">EU (Ireland) Region</option>
                                            <option value="ap-southeast-1">Asia Pacific (Singapore) Region</option>
                                            <option value="ap-southeast-2">Asia Pacific (Sydney) Region</option>
                                            <option value="ap-northeast-1">Asia Pacific (Tokyo) Region</option>
                                            <option value="sa-east-1">South America (Sao Paulo) Region</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-hide="accounts">
                                    <label for="accessKeyId" class="col-md-4 control-label">Access Key ID</label>
                                    <div class="col-md-8">
                                        <input type="text" id="accessKeyId" name="accessKeyId" class="form-control" ng-model="deployment.accessKeyId" />
                                    </div>
                                </div>

                                <div class="form-group" ng-hide="accounts">
                                    <label for="secretAccessKey" class="col-md-4 control-label">Secret Access Key</label>
                                    <div class="col-md-8">
                                        <input type="text" id="secretAccessKey" name="secretAccessKey" class="form-control" ng-model="deployment.secretAccessKey" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="deploymentDescription" class="col-md-3 control-label">Description</label>
                                    <div class="col-md-9">
                                        <textarea id="deploymentDescription" class="form-control" name="description" rows="3" ng-model="deployment.description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="deploymentBillingCode" class="col-md-3 control-label">Billing Code</label>
                                    <div class="col-md-9">
                                        <input type="text" id="deploymentBillingCode" name="billingCode" class="form-control" ng-model="deployment.billingCode"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left">Parameters</h2>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div ng-repeat="(key, value) in template.Parameters">

                            <div class="form-group" ng-hide="template.Parameters[key]['AllowedValues'].length">
                                <label class="col-md-3 control-label">{{key}}</label>
                                <div class="col-md-6">
                                    <input type="text" name="{{key}}" class="form-control" ng-model="deployment[key]">
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                            <div class="form-group" ng-show="template.Parameters[key]['AllowedValues'].length">
                                <label class="col-md-3 control-label">{{key}}</label>
                                <div class="col-md-6">
                                    <select name="{{key}}" class="form-control" ng-model="deployment[key]">
                                        <option ng-repeat="(k, v) in value['AllowedValues']">{{v}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bottomButton" class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" ng-click="go('/landscapes/' + landscape._id)">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Deploy
                </button>
            </div>
        </div>
    </div>


</form>

<div ng-include="'partials/footer.html'"></div>