<div class="panel panel-default" ng-controller="AdminUsersCtrl">
  <div class="panel-heading title-heading">
    <h2 class="panel-title pull-left">Users</h2>
    <button type="button" class="btn btn-default pull-right"
            ng-hide="addingUser || editingUser || viewingUser"
            ng-click="addUser()">
      <span class="glyphicon glyphicon-plus-sign"></span> Add
    </button>
    <button type="button" class="btn btn-default pull-right"
            ng-show="addingUser || editingUser || viewingUser"
            ng-click="resetUsers()">
      <span class="glyphicon glyphicon-refresh"></span> Reset
    </button>
  </div>
  <div class="panel-body">

    <table class="table table-striped adminTable" ng-hide="addingUser || editingUser || viewingUser">
      <tr>
        <td>&nbsp;</td>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Groups</th>
      </tr>
      <tr ng-repeat="user in users | orderBy:'role'">
        <td>
          <button type="button" class="btn btn-primary btn-xs"
                  popover="Edit" popover-trigger="mouseenter"
                  ng-click="editUser(user)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button type="button" class="btn btn-xs"
                  popover="View" popover-trigger="mouseenter"
                  ng-click="viewUser(user)">
            <span class="glyphicon glyphicon-share-alt"></span>
          </button>
        </td>
        <td> <strong>{{user.name}}</strong> </td>
        <td>{{user.email}}</td>
        <td>
          {{user.role}}
        </td>
        <td>
          <span ng-repeat="group in user.groups track by $index">
            <span class="badge alert-success">
              {{group}}
            </span>
          </span>
        </td>
      </tr>
    </table>

    <div ng-show="addingUser || editingUser || viewingUser">
      <div ng-include="'partials/admin/admin-user-modify'"></div>
    </div>

  </div>
</div>