<div class="panel panel-default" ng-controller="AdminUsersCtrl">
    <div class="panel-heading title-heading">
        <h2 class="panel-title pull-left">Users</h2>
    </div>
    <div class="panel-body">

        <table class="table table-striped adminTable">
            <tr>
                <td>&nbsp;</td>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Groups</th>
            </tr>
            <tr ng-repeat="user in users | orderBy:'name'">
                <td>
                    <button type="button" class="btn btn-default btn-xs" ng-click="editUser()" disabled>
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td> <strong>{{user.name}}</strong> </td>
                <td>{{user.email}}</td>
                <td>
                    {{user.role}}
                </td>
                <td>
                    <span ng-repeat="group in user.groups track by $index">
                        <span class="badge alert-success">
                            {{group.name}}
                        </span>
                    </span>
                </td>

            </tr>
        </table>

    </div>
</div>