<div class="panel panel-default" ng-controller="AdminRolesCtrl">
    <div class="panel-heading title-heading">
        <h2 class="panel-title pull-left">Roles</h2>
        <button type="button" class="btn btn-default pull-right"
                ng-hide="addingRole || editingRole"
                ng-click="addRole()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </button>
        <button type="button" class="btn btn-default pull-right"
                ng-show="addingRole || editingRole"
                ng-click="resetRoles()">
            <span class="glyphicon glyphicon-refresh"></span> Reset
        </button>
    </div>
    <div class="panel-body">

        <table class="table table-striped adminTable" ng-hide="addingRole || editingRole">
            <tr>
                <td>&nbsp;</td>
                <th>Name</th>
                <th>Description</th>
                <th>Permissions</th>
            </tr>
            <tr ng-repeat="role in roles | orderBy: 'name'">
                <td>
                    <button type="button" class="btn btn-primary btn-xs"
                            popover="Edit" popover-trigger="mouseenter"
                            ng-click="editRole(role._id)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td><strong>{{role.name}}</strong></td>
                <td>{{role.description}}</td>
                <td>
                    <span ng-repeat="permission in role.permissions | orderBy:'displayOrder'">
                        <span style="" class="badge alert-success"
                              popover="{{permission.name}}" popover-trigger="mouseenter"
                              ng-class="{'alert-danger': permission.value=='F', 'alert-warning': permission.value=='C', 'alert-info': permission.value=='X'  }">
                            {{permission.value}}</span>
                    </span>
                </td>
            </tr>
        </table>

        <div ng-show="addingRole || editingRole">
            <div ng-include="'partials/admin/admin-roles-modify'"></div>
        </div>

    </div>
</div>
