<div ng-include="'partials/navbar.html'"></div>

<div class="row">
    <div class="col-md-12">
        <h2>Administrator</h2>
    </div>
    <div class="col-md-12">

            <div class="row">
                <div class="col-md-2" style="margin-bottom: 20px">
                    <div class="row">
                        <div class="btn-group col-md-12 visible-sm visible-xs">
                            <button type="button" class="btn btn-default "
                                    ng-class="{active: selected == item}"
                                    ng-repeat="item in menu"
                                    ng-click="buttonClick(item)">{{item}}</button>
                        </div>
                        <div class="btn-group-vertical col-md-12 hidden-sm hidden-xs">
                            <!-- switch to horizontal in xs && sm -->
                            <button type="button" class="btn btn-default "
                                    ng-class="{active: selected == item}"
                                    ng-repeat="item in menu"
                                    ng-click="buttonClick(item)">{{item}}</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-10" style="padding:0;">

                    <div class="col-md-12" ng-show="selected=='Users'">
                        <div ng-include="'partials/admin/admin-users.html'"></div>
                    </div>

                    <div class="col-md-12" ng-show="selected=='Roles'">
                        <div ng-include="'partials/admin/admin-roles.html'"></div>
                    </div>

                    <div class="col-md-12" ng-show="selected=='Groups'">
                        <div ng-include="'partials/admin/admin-groups.html'"></div>
                    </div>

                    <div class="col-md-12" ng-show="selected=='Globals'">
                        <div class="panel panel-default">
                            <div class="panel-heading title-heading">
                                <h2 class="panel-title pull-left">Globals</h2>
                            </div>
                            <div class="panel-body">
                                <h4>Tags</h4>
                                <hr style="margin-top: 0">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label hidden-xs">1.</label>
                                        <label class="col-sm-1 control-label">Key </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control"/>
                                        </div>

                                        <label class="col-sm-1 control-label">Value </label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-sm-1 hidden-xs">
                                            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addRole()">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>

                                    <div style="border-bottom: 1px solid #cccccc; height: 45px" class="form-group">
                                        <div class="col-xs-12 visible-xs ">
                                        <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addRole()">
                                            <span class="glyphicon glyphicon-plus"></span> Add
                                        </button>
                                        </div>
                                    </div>
                                </div>

                                <h4>Advanced</h4>
                                <hr style="margin-top: 0">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <div class="control-label">
                                            <label style="margin-bottom: 0">Notification options</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="notificationOptions" value="none" checked>
                                                    No notification
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="notificationOptions" value="newTopic">
                                                    New Amazon SNS topic
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="notificationOptions" value="existingTopic">
                                                    Existing Amazon SNS topic
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Timeout </label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input type="text" name="timeout" class="form-control">
                                                <span class="input-group-addon"> Minutes</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <div class="control-label">
                                                <label style="margin-bottom: 0">Rollback on failure</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="rollbackOnFailure" value="true" checked>
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="rollbackOnFailure" value="false">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <div class="control-label">
                                                <label style="margin-bottom: 0">Stack policy</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="enterPolicy" value="true" checked>
                                                    Enter policy
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-sm-offset-3" style="padding-top: 7px;">
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" ng-click="resetRoles()">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                            ng-show="editingRole"
                                            ng-click="deleteRole()">
                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                    </button>
                                    <button class="btn btn-default" type="submit" ng-class="{'btn-success': form.$valid && submitted }" >
                                        <span class="glyphicon glyphicon-save"></span> Save
                                    </button>
                                </div>
                                <div style="margin-bottom: 0" class="text-center"
                                     ng-class="{'alert alert-success': message}">{{ message }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" ng-show="selected=='Accounts'">
                        <div class="panel panel-default">
                            <div class="panel-heading title-heading">
                                <h2 class="panel-title pull-left">Accounts</h2>
                            </div>
                            <div class="panel-body">
                                <p><strong>Name:</strong> OpenWhere-DEV</p>
                                <p><strong>Service Account:</strong> landscapes-svc</p>
                                <hr>
                                <p><strong>Name:</strong> OpenWhere</p>
                                <p><strong>Link:</strong> OpenWhere</p>
                                <p><strong>Service Account:</strong> landscapes-svc</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" ng-show="selected=='App Settings'">
                        <div class="panel panel-default">
                            <div class="panel-heading title-heading">
                                <h2 class="panel-title pull-left">App Settings</h2>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Default Icon </label>
                                        <div class="col-md-10">
                                            <input type="text" name="defaultIcon" class="form-control" value="/images/AWS-icon.jpeg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

    </div>
</div>

<div ng-include="'partials/footer'"></div>