<div class="panel panel-default">
    <div class="panel-heading title-heading">
        <h2 class="panel-title pull-left">Roles</h2>
        <button type="button" class="btn btn-default pull-right" ng-click="addRole()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </button>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <tr ng-repeat="role in roles">
                <td>{{$index+1}}</td>
                <td><strong>{{role}}</strong></td>
                <td>description...</td>
            </tr>
        </table>
    </div>
</div>