<div class="panel panel-default">
    <div class="panel-heading title-heading">
        <h2 class="panel-title pull-left">Users</h2>
    </div>
    <div class="panel-body">

        <table class="table table-striped">
            <tr ng-repeat="user in users | orderBy:'name'">
                <td style="line-height: 24px;">{{$index+1}}</td>
                <td style="line-height: 24px;"> <strong>{{user.name}}</strong> </td>
                <td style="line-height: 24px;">{{user.email}}</td>
                <td style="line-height: 24px;">
                    <span ng-repeat="role in user.roles">
                        <span class="badge alert-success" ng-click="editUser()" ng-class="{'alert-danger': role=='admin' }">
                            {{role}}</span>
                    </span>
                </td>
                <td style="line-height: 26px;">
                    <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="editUser()">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
            </tr>
        </table>

    </div>
</div>