<div class="col-md-12" >
  <div class="panel panel-default">
    <div class="panel-heading title-heading">
      <h2 class="panel-title pull-left">Globals</h2>
    </div>
    <div class="panel-body">
      <h4>Tags</h4>
      <hr style="margin-top: 0">
      <div class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-1 control-label">1. Key </label>
          <div class="col-sm-3">
            <input type="text" class="form-control"/>
          </div>

          <label class="col-sm-2 control-label">Default Value </label>
          <div class="col-sm-3">
            <input type="text" class="form-control"/>
          </div>

          <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="enterPolicy" value="true" checked>
                Required
              </label>
            </div>
          </div>

          <div class="col-sm-1 hidden-xs">
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addRole()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>

      </div>

        <div style="border-bottom: 1px solid #cccccc; height: 45px" class="form-group">
          <div class="col-xs-12 visible-xs ">
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addRole()">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
          </div>
        </div>
      </div>


      <h4>Advanced</h4>
      <hr style="margin-top: 0">
      <div class="form-horizontal">

        <div class="form-group">
          <div class="col-sm-3">
            <div class="control-label">
              <label style="margin-bottom: 0">Notification options</label>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="radio">
              <label>
                <input type="radio" name="notificationOptions" value="none" checked>
                No notification
              </label>
            </div>
          </div>
          <div class="col-sm-9 col-sm-offset-3">
            <div class="radio">
              <label>
                <input type="radio" name="notificationOptions" value="newTopic">
                New Amazon SNS topic
              </label>
            </div>
          </div>
          <div class="col-sm-9 col-sm-offset-3">
            <div class="radio">
              <label>
                <input type="radio" name="notificationOptions" value="existingTopic">
                Existing Amazon SNS topic
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Timeout </label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" name="timeout" class="form-control">
              <span class="input-group-addon"> Minutes</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <div class="control-label">
              <label style="margin-bottom: 0">Rollback on failure</label>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="radio">
              <label>
                <input type="radio" name="rollbackOnFailure" value="true" checked>
                Yes
              </label>
            </div>
          </div>
          <div class="col-sm-9 col-sm-offset-3">
            <div class="radio">
              <label>
                <input type="radio" name="rollbackOnFailure" value="false">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <div class="control-label">
              <label style="margin-bottom: 0">Stack policy</label>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="enterPolicy" value="true" checked>
                Enter policy
              </label>
            </div>
          </div>
          <div class="col-sm-9 col-sm-offset-3" style="padding-top: 7px;">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

      </div>

      <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="resetRoles()">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger"
                ng-show="editingRole"
                ng-click="deleteRole()">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
        <button class="btn btn-default" type="submit" ng-class="{'btn-success': form.$valid && submitted }" >
          <span class="glyphicon glyphicon-save"></span> Save
        </button>
      </div>
      <div style="margin-bottom: 0" class="text-center"
           ng-class="{'alert alert-success': message}">{{ message }}</div>
    </div>
  </div>
</div>