<div>
    <form class="form" name="app.form" novalidate ng-submit="app.saveAccount(app.form)" >
        <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.addingAccount">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </h4>
        <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.editingAccount">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </h4>

        <div class="form-horizontal">
            <div class="form-group" ng-class="{ 'has-success': app.form.name.$valid && app.submitted, 'has-error': app.form.name.$invalid && app.submitted }">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input type="text" name="name" class="form-control" ng-model="app.account.name" required/>
                    <p class="help-block" ng-show="app.form.name.$error.required && app.submitted">
                        Name is required.
                    </p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-success': app.form.description.$valid && app.submitted, 'has-error': app.form.description.$invalid && app.submitted }">
                <label class="col-md-3 control-label">Default Region</label>
                <div class="col-md-9">
                    <select id="defaultRegion" name="location" class="form-control" ng-model="app.account.region">
                        <option value="us-gov-west-1">Gov Cloud</option>
                        <option value="us-east-1">US East (Northern Virginia)</option>
                        <option value="us-west-1">US West (Northern California) Region</option>
                        <option value="us-west-2">US West (Oregon) Region</option>
                        <option value="eu-west-1">EU (Ireland) Region</option>
                        <option value="ap-southeast-1">Asia Pacific (Singapore) Region</option>
                        <option value="ap-southeast-2">Asia Pacific (Sydney) Region</option>
                        <option value="ap-northeast-1">Asia Pacific (Tokyo) Region</option>
                        <option value="sa-east-1">South America (Sao Paulo) Region</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': app.form.name.$valid && app.submitted, 'has-error': app.form.name.$invalid && app.submitted }">
                <label class="col-md-3 control-label">Access Key ID</label>
                <div class="col-md-9">
                    <input type="text" name="name" class="form-control" ng-model="app.account.accessKeyId" required/>
                    <p class="help-block" ng-show="app.form.accessKeyId.$error.required && app.submitted">
                        <strong>Access Key ID</strong> is required.
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': app.form.name.$valid && app.submitted, 'has-error': app.form.name.$invalid && app.submitted }">
                <label class="col-md-3 control-label">Secret Access Key</label>
                <div class="col-md-9">
                    <input type="text" name="name" class="form-control" ng-model="app.account.secretAccessKey" required/>
                    <p class="help-block" ng-show="app.form.secretAccessKey.$error.required && app.submitted">
                        <strong>Secret Access Key</strong> is required.
                    </p>
                </div>
            </div>
        </div>

        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="app.resetAccounts()">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger"
                    ng-show="app.editingAccount"
                    ng-click="app.deleteAccount()">
                <span class="glyphicon glyphicon-remove"></span> Delete
            </button>
            <button class="btn btn-default" type="submit" ng-class="{'btn-success': app.form.$valid && app.submitted }" >
                <span class="glyphicon glyphicon-save"></span> Save
            </button>
        </div>
        <div style="margin-bottom: 0" class="text-center"
             ng-class="{'alert alert-success': app.message}">{{ app.message }}</div>
    </form>

</div>

<script type="text/ng-template" id="confirmDeleteModal.html">
    <div class="modal-header">
        <strong style="font-size: 18px;">Delete Account?</strong>
    </div>
    <div class="modal-body" style="padding: 10px 15px 10px 15px">
        <h4 style="font-size: 14px;">{{ vm.msg }}</h4>
    </div>
    <div class="modal-footer" style="margin-top: 0; padding: 15px">
        <button class="btn btn-primary" ng-click="vm.close(false)">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button class="btn btn-danger" ng-click="vm.close(true)">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
    </div>
</script>
