<div class="panel panel-default" ng-controller="AdminRolesCtrl as app">
    <div class="panel-heading title-heading">
        <h2 class="panel-title pull-left">Roles</h2>
        <button type="button" class="btn btn-default pull-right"
                ng-hide="app.addingRole || app.editingRole"
                ng-click="app.addRole()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </button>
        <button type="button" class="btn btn-default pull-right"
                ng-show="app.addingRole || app.editingRole"
                ng-click="app.resetRoles()">
            <span class="glyphicon glyphicon-refresh"></span> Reset
        </button>
    </div>
    <div class="panel-body">

        <table class="table table-striped adminTable" ng-hide="app.addingRole || app.editingRole">
            <tr>
                <td>&nbsp;</td>
                <th>Name</th>
                <th>Description</th>
                <th>Permissions</th>
            </tr>
            <tr ng-repeat="role in vm.roles | orderBy: 'name'">
                <td>
                    <button type="button" class="btn btn-primary btn-xs"
                            popover="Edit" popover-trigger="mouseenter"
                            ng-click="app.editRole(role._id)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td><strong>{{role.name}}</strong></td>
                <td>{{role.description}}</td>
                <td>
                    <span ng-repeat="permission in role.permissions | orderBy:'displayOrder'">
                        <span style="" class="badge alert-success"
                              popover="{{permission.name}}" popover-trigger="mouseenter"
                              ng-class="{ 'alert-info': permission.value=='U' || permission.value=='D', 'alert-danger': permission.value=='X' || permission.value=='F'  }">
                              {{permission.value}}
                        </span>
                    </span>
                </td>
            </tr>
        </table>

        <div ng-show="app.addingRole || app.editingRole">
            <div ng-include="'/modules/landscapes/client/views/admin-roles-modify.client.view.html'"></div>
        </div>

    </div>
</div>
