<div class="panel panel-default" ng-controller="AdminAccountsCtrl as app">
    <div class="panel-heading title-heading">
        <h2 class="panel-title pull-left">Accounts</h2>
        <button type="button" class="btn btn-default pull-right"
                ng-hide="app.addingAccount || app.editingAccount"
                ng-click="app.addAccount()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </button>
        <button type="button" class="btn btn-default pull-right"
                ng-show="app.addingAccount || app.editingAccount"
                ng-click="app.resetAccounts()">
            <span class="glyphicon glyphicon-refresh"></span> Reset
        </button>
    </div>
    <div class="panel-body">

        <table class="table table-striped adminTable" ng-hide="app.addingAccount || app.editingAccount">
            <tr>
                <td>&nbsp;</td>
                <th>Name</th>
                <th>Default Region</th>
                <th>Access Key ID</th>
                <th>Secret Access Key</th>
            </tr>
            <tr ng-repeat="account in app.accounts | orderBy: 'name'">
                <td>
                    <button type="button" class="btn btn-primary btn-xs"
                            popover="Edit" popover-trigger="mouseenter"
                            ng-click="app.editAccount(account._id)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td><strong>{{account.name}}</strong></td>
                <td>{{account.region}}</td>
                <td>{{account.accessKeyId}}</td>
                <td>{{account.secretAccessKey}}</td>
            </tr>
        </table>

        <div ng-show="app.addingAccount || app.editingAccount">
            <div ng-include="'partials/admin/admin-accounts-modify'"></div>
        </div>

    </div>
</div>
