<div>

  <form class="form" name="app.form" novalidate ng-submit="app.saveRole(app.form)" >
    <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.addingRole">
      <span class="glyphicon glyphicon-plus-sign"></span> Add
    </h4>
    <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.editingRole">
      <span class="glyphicon glyphicon-edit"></span> Edit
    </h4>

    <div class="form-horizontal">
      <div class="form-group" ng-class="{ 'has-success': app.form.name.$valid && app.submitted, 'has-error': app.form.name.$invalid && app.submitted }">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
          <input type="text" name="name" class="form-control"
                 ng-disabled=" role.name=='admin' "
                 ng-model="app.role.name" required/>
          <p class="help-block" ng-show="app.form.name.$error.required && app.submitted">
            Name is required.
          </p>
        </div>
      </div>
      <div class="form-group"
           ng-class="{ 'has-success': app.form.description.$valid && app.submitted, 'has-error': app.form.description.$invalid && app.submitted }">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
          <textarea type="text" name="description" class="form-control" ng-model="app.role.description" required></textarea>
          <p class="help-block" ng-show="app.form.description.$error.required && app.submitted">
            Description is required.
          </p>
        </div>
      </div>
      <div class="form-group" ng-show="app.role.name=='admin' ">
        <label class="col-md-2 control-label">Permissions</label>

        <div style="line-height: 32px;" class="col-md-10">
          <span ng-repeat="permission in app.role.permissions | orderBy:'displayOrder'">
            <span class="badge alert-success"
                  popover="{{permission.name}}" popover-trigger="mouseenter"
                  ng-class="{'alert-danger': permission.value=='F', 'alert-info': permission.value=='X'  }">
              {{permission.value}}
            </span>
          </span>
        </div>
      </div>

      <div class="form-group" ng-hide="app.role.name=='admin' ">
        <label class="col-md-2 control-label">Permissions</label>
        <div class="col-md-10">
          <div class="checkbox col-xs-1" ng-repeat="permission in vm.permissions">
            <label popover="{{permission.name}}" popover-trigger="mouseenter">
              <input type="checkbox"
                     checklist-model="app.role.permissions"
                     checklist-value="permission"> {{permission.value}}
            </label>
          </div>
        </div>
      </div>


      <div class="form-group" ng-show="app.editingRole">
        <label class="col-md-2 control-label">Users</label>
        <div class="col-md-10">
          <div class="checkbox col-xs-3" ng-repeat="user in vm.users | orderBy:'name'">
            <label>
              <input type="checkbox"
                     ng-disabled="user.username==$scope.user.username"
                     checklist-model="app.role.users"
                     checklist-value="user"
                     checklist-comparator="app.compareUsers" > {{user.displayName}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="app.resetRoles()">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
      </button>
      <button type="button" class="btn btn-danger"
              ng-disabled="app.role.name=='administrator' "
              ng-show="app.editingRole"
              ng-click="app.deleteRole()">
        <span class="glyphicon glyphicon-remove"></span> Delete
      </button>
      <button class="btn btn-default" type="submit" ng-class="{'btn-success': app.form.$valid && app.submitted }" >
        <span class="glyphicon glyphicon-save"></span> Save
      </button>
    </div>

    <div style="margin-bottom: 0" class="text-center"
         ng-class="{'alert alert-success': app.message}">{{ app.message }}</div>

  </form>


</div>
