

<div class="panel panel-default" ng-controller="AdminGlobalTagsCtrl as app">
  <div class="panel-heading title-heading">
    <h2 class="panel-title pull-left">Global Tags</h2>
  </div>
  <div class="panel-body">

    <form class="form" name="app.form" novalidate ng-submit="app.saveGlobalTag(form)" >
      <div class="form-horizontal">

        <div class="form-group">
          <div ng-class="{ 'has-success': app.form.key.$valid && app.submitted, 'has-error': app.form.key.$invalid && app.submitted }">
          <label class="col-sm-1 control-label">Key</label>
          <div class="col-sm-3">
            <input type="text" name="key" class="form-control" style="margin-bottom: 12px"
                   ng-model="app.globalTag.key"
                   required
                   mongoose-error/>
          </div>
          </div>

          <label class="col-sm-2 control-label">Default Value</label>
          <div class="col-sm-3">
            <input type="text" name="defaultValue" class="form-control" style="margin-bottom: 12px"
                   ng-model="app.globalTag.defaultValue"
                   mongoose-error/>
          </div>

          <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="required" ng-model="app.globalTag.required">
                <strong>Required</strong>
              </label>
            </div>
          </div>

          <div class="col-sm-1 hidden-xs">
            <button type="submit" class="btn btn-primary btn-sm pull-right">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>

        <div class="form-group" ng-show="form.key.$error.required && submitted">
          <div class="col-xs-12">
            <div style="margin: 0" class="text-center alert alert-danger">
              Key is required.
            </div>
          </div>
        </div>

        <div class="form-group col-xs-12 visible-xs">
          <div style="height: 25px; margin-bottom: 25px">
            <button type="submit" class="btn btn-primary" ng-click="app.addRole()">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
          </div>
        </div>

      </div>

    </form>

    <table class="table table-striped adminTable" style="margin-bottom: 0"
           ng-show="app.globalTags"
           tr-ng-grid fields="['key','defaultValue','required']"
           order-by="key"
           enable-filtering="false"
           enable-sorting="true"
           selection-mode="None"
           items="app.globalTags">

      <thead>
      <tr>
        <th cell-width="40%" field-name="key" display-name="Key" style="text-align: left" ></th>
        <th cell-width="40%" field-name="defaultValue" display-name="Default Value" enable-sorting="false" display-align="left" style="text-align: left"></th>
        <th cell-width="10%" field-name="required" display-name="Required" enable-sorting="false" display-align="center"></th>
        <th cell-width="10%" display-name="Delete" display-align="center" enable-sorting="false"></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>
          <button class="btn btn-default btn-xs btn-danger"
                  ng-click="app.deleteGlobalTag(gridItem)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <script type="text/ng-template" id="trNgGridPager.html">
      <div style="margin: 0" class="text-center alert alert-info"
           ng-show="app.errorMessage || app.infoMessage"
           ng-class="{'alert-danger': errorMessage}">{{ errorMessage || infoMessage }}
      </div>
    </script>

  </div>

</div>

<script type="text/ng-template" id="confirmGlobalTagDeleteModal.html">
  <div class="modal-header">
    <strong style="font-size: 18px;">Delete Global Tag?</strong>
  </div>
  <div class="modal-body" style="padding: 10px 15px 10px 15px">
    <h4 style="font-size: 14px;">"{{ msg }}"</h4>
  </div>
  <div class="modal-footer" style="margin-top: 0; padding: 15px">
    <button class="btn btn-primary" ng-click="confirmDeleteButtonClick(false)">
      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
    </button>
    <button class="btn btn-danger" ng-click="confirmDeleteButtonClick(true)">
      <span class="glyphicon glyphicon-remove"></span> Delete
    </button>
  </div>
</script>