<div>

  <form class="form" name="app.form" novalidate ng-submit="app.saveUser(app.form)" >
    <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.addingUser">
      <span class="glyphicon glyphicon-plus-sign"></span> Add
    </h4>
    <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.editingUser">
      <span class="glyphicon glyphicon-edit"></span> Edit
      <small class="pull-right" style="margin: 10px 0 0 0; color: #cccccc; font-size: 12px;">{{app.user._id}}</small>
    </h4>
    <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.viewingUser">
      <span class="glyphicon glyphicon-share-alt"></span> View
      <small class="pull-right" style="margin: 10px 0 0 0; color: #cccccc; font-size: 12px;">{{app.user._id}}</small>
    </h4>


    <div class="row">
      <div class="col-md-12">

          <div class="form-horizontal" >

            <div class="form-group" ng-class="{ 'has-success': app.form.name.$valid && app.submitted, 'has-error': app.form.name.$invalid && app.submitted }">
              <label class="col-md-2 control-label">Name</label>

              <div class="col-md-10">
                <input type="text" name="username" class="form-control"
                       ng-model="app.user.username"
                       ng-disabled="app.viewingUser"
                       required
                       mongoose-error />
              </div>
              <div class="col-md-10 col-md-offset-2">
                <p class="help-block" ng-show="app.form.username.$error.required && app.submitted">
                  User Name is required.
                </p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-success': app.form.email.$valid && app.submitted, 'has-error': app.form.email.$invalid && app.submitted }">
              <label class="col-md-2 control-label">Email Address</label>

              <div class="col-md-10">
                <input type="text" name="email" class="form-control"
                       ng-model="app.user.email"
                       ng-disabled="app.viewingUser"
                       required
                       mongoose-error />
              </div>


              <div class="col-md-10 col-md-offset-2">
                <p class="help-block" ng-show="app.form.email.$error.email && app.submitted">
                  Email address is not valid.
                </p>
                <p class="help-block" ng-show="app.form.email.$error.required && app.submitted">
                  Email address is required.
                </p>
                <p class="help-block" ng-show="appform.email.$error.mongoose">
                  {{ app.errors.email }}
                </p>
              </div>
            </div>

            <div class="form-group" ng-show="app.addingUser"
                 ng-class="{ 'has-success': app.form.password.$valid && submitted, 'has-error': app.form.password.$invalid && submitted }">
              <label class="col-md-2 control-label">Password</label>

              <div class="col-md-10">
                <input type="password" name="password" class="form-control"
                       ng-model="app.user.password"
                       ng-required="app.addingUser"
                       ng-minlength="6"
                       required
                       mongoose-error />
              </div>
              <div class="col-md-10 col-md-offset-2">
                <p class="help-block"
                   ng-show="(app.form.password.$error.minlength || app.form.password.$error.required) && app.submitted">
                  Password must contain at least 6 characters.
                </p>
                <p class="help-block" ng-show="app.form.password.$error.mongoose">
                  {{ app.errors.password }}
                </p>
              </div>
            </div>

            <div class="form-group" ng-show="app.viewingUser">
              <label class="col-md-2 control-label">Role</label>
              <div class="col-md-10">
                <input class="form-control" ng-model="app.user.roles[0].name" readonly />
              </div>
            </div>

            <div class="form-group" ng-show="app.addingUser || app.editingUser">
              <label class="col-md-2 control-label">Role</label>
              <div class="col-md-10">
                <div class="btn-group" >
                  <label class="btn btn-default" ng-repeat="role in vm.roles | orderBy:'name'"
                         uib-uncheckable="app.user.name==currentUser.name"
                         ng-model="app.user.role"
                         uib-btn-radio="role" >
                    {{role.name}}</label>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>

    <div class="pull-right" ng-hide="app.viewingUser">
      <button type="button" class="btn btn-primary" ng-click="app.resetUsers()">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
      </button>
      <button type="button" class="btn btn-danger"
              ng-click="app.deleteUser(user)"
              ng-disabled="app.user.name==currentUser.name"
              ng-show="app.editingUser">
        <span class="glyphicon glyphicon-remove"></span> Delete
      </button>
      <button class="btn btn-default" type="submit" ng-class="{'btn-success': app.form.$valid && app.submitted }" >
        <span class="glyphicon glyphicon-save"></span> Save
      </button>

    </div>

    <div style="margin-bottom: 0" class="text-center"
         ng-class="{'alert alert-success': app.message}">{{ app.message }}</div>

  </form>

</div>
