<div>

    <form class="form" name="app.form" novalidate ng-submit="app.saveGroup(app.form)" >
        <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.addingGroup">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </h4>
        <h4 style="margin: 0 0 20px 0; font-size: 22px;" ng-show="app.editingGroup">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </h4>
        <!-- sub form -->
        <div class="form-horizontal">
            <div class="form-group" ng-class="{ 'has-success': app.form.name.$valid && app.submitted, 'has-error': app.form.name.$invalid && app.submitted }">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input type="text" name="name" class="form-control" ng-model="app.group.name" required/>
                    <p class="help-block" ng-show="app.form.name.$error.required && app.submitted">
                        Name is required.
                    </p>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-success': app.form.description.$valid && app.submitted, 'has-error': app.form.description.$invalid && app.submitted }">
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <textarea type="text" name="description" class="form-control" ng-model="app.group.description" required></textarea>

                    <p class="help-block" ng-show="app.form.description.$error.required && app.submitted">
                        Description is required.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Landscapes</label>
                <div class="col-md-10">
                    <div class="checkbox col-xs-6" ng-repeat="landscape in vm.landscapes | orderBy:'name'">
                        <label>
                            <input type="checkbox" checklist-model="app.group.landscapes" checklist-value="landscape._id" > {{landscape.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Permissions</label>
                <div class="col-md-10">
                    <div class="checkbox col-xs-1" ng-repeat="permission in vm.permissions" ng-hide="permission.value=='C' || permission.value=='F'">
                        <label popover="{{permission.name}}" popover-trigger="mouseenter" >
                            <input type="checkbox" checklist-model="app.group.permissions" checklist-value="permission"> {{permission.value}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="app.editingGroup">
                <label class="col-md-2 control-label">Users</label>
                <div class="col-md-10">
                    <div class="checkbox col-xs-3" ng-repeat="user in vm.users | orderBy:'name'">
                        <label>
                            <input type="checkbox"
                                   checklist-model="app.group.users"
                                   checklist-value="user"
                                   checklist-comparator="app.compareUsers" > {{user.displayName}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

      <!-- bottom buttons -->
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="app.resetGroups()">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger"
                    ng-show="app.editingGroup"
                    ng-click="app.deleteGroup()">
                <span class="glyphicon glyphicon-remove"></span> Delete
            </button>
            <button class="btn btn-default" type="submit" ng-class="{'btn-success': mod.form.$valid && mod.submitted }" >
                <span class="glyphicon glyphicon-save"></span> Save
            </button>
        </div>
        <div style="margin-bottom: 0" class="text-center"
             ng-class="{'alert alert-success': app.message}">{{ app.message }}</div>
    </form>

</div>
