<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div id="titleRow" class="col-md-12">
    <h2>Administrator</h2>
  </div>
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-2" style="margin-bottom: 20px">
        <div class="row">
          <div class="btn-group col-md-12 visible-sm visible-xs">
            <button type="button" class="btn btn-default "
                    ng-class="{active: vm.selected == item}"
                    ng-repeat="item in vm.menu"
                    ng-click="vm.buttonClick(item)">{{item}}</button>
          </div>
          <div class="btn-group-vertical col-md-12 hidden-sm hidden-xs">
            <!-- switch to horizontal in xs && sm -->
            <button type="button" class="btn btn-default "
                    ng-class="{active: selected == item}"
                    ng-repeat="item in menu"
                    ng-click="vm.buttonClick(item)">{{item}}</button>
          </div>
        </div>
      </div>

      <div class="col-md-10" style="padding:0;">

        <div class="col-md-12" ng-show="vm.selected=='Users'">
          <div ng-include="'/modules/landscapes/client/views/admin-users.client.view.html'"></div>
        </div>

        <div class="col-md-12" ng-show="vm.selected=='Roles'">
          <div ng-include="'partials/admin/modules/landscapes/client/views/admin-roles.client.view.html'"></div>
        </div>

        <div class="col-md-12" ng-show="vm.selected=='Groups'">
          <div ng-include="'/modules/landscapes/client/views/admin-groups.client.view.html'"></div>
        </div>

        <div class="col-md-12" ng-show="vm.selected=='Global Tags'">
          <div ng-include="'/modules/landscapes/client/views/admin-globalTags.client.view.html'"></div>
        </div>

        <div class="col-md-12" ng-show="vm.selected=='Accounts'">
          <div ng-include="'/modules/landscapes/client/views/admin-accounts.client.view.html'"></div>
        </div>

        <div class="col-md-12" ng-show="vm.selected=='AppSettings'">
          <div class="panel panel-default">
            <div class="panel-heading title-heading">
              <h2 class="panel-title pull-left">App Settings</h2>
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-4 control-label">Default Icon </label>
                  <div class="col-md-8">
                    <input type="text" name="defaultIcon" class="form-control" ng-model="vm.appSettings[0].defaultIcon" />
                  </div>
                </div>
              </div>
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-4 control-label">Default Account </label>
                  <div class="col-md-8">
                    <input type="text" name="defaultIcon" class="form-control" ng-model="vm.appSettings[0].defaultAccount.name" />
                  </div>
                </div>
              </div>
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-4 control-label">S3 Bucket </label>
                  <div class="col-md-8">
                    <input type="text" name="defaultIcon" class="form-control" ng-model="vm.appSettings[0].s3Bucket" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<div ng-include="'/modules/landscapes/client/views/footer.html'"></div>
