<div ng-data="landscape">
  <form class="vm.form" name="form" role="form" ng-submit="vm.updateLandscape(vm.form)" novalidate>

    <div id="titleRow" class="row">
      <h2 class="pull-left col-md-8"><span class="glyphicon glyphicon-edit"></span> Edit Landscape</h2>
      <div class="col-md-4">
        <div class="pull-right">
          <button type="button" class="btn btn-primary"
                  ui-sref="landscapes.view({ landscapeId: vm.landscape._id })">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button class="btn btn-danger" type="button"
                  ng-show="vm.hasPermission(vm.currentUser, 'D', vm.landscape._id)"
                  ng-click="vm.deleteLandscape(vm.landscape.name)">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
          <button class="btn" type="submit" ng-class="{'btn-success': vm.form.$dirty }" ng-disabled=!vm.form.$dirty >
            <span class="glyphicon glyphicon-save"></span> Save
          </button>
        </div>
      </div>
    </div>

    <div id="formRow" class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-horizontal">

              <div class="form-group" ng-class="{ 'has-success': vm.form.name.$valid && vm.submitted, 'has-error': vm.form.name.$invalid && vm.submitted }">
                <label for="landscapeName" class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-9">
                  <input type="text" id="landscapeName" name="name" class="form-control" ng-model="vm.landscape.name" ng-minlength="3" required mongoose-error />
                  <p class="help-block" ng-show="(vm.form.name.$error.minlength || vm.form.name.$error.required) && vm.submitted">
                    Name must be at least 3 characters.
                  </p>
                  <p class="help-block" ng-show="vm.form.name.$error.mongoose">
                    {{ vm.errors.name }}
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label for="landscapeVersion" class="col-sm-3 control-label">Version:</label>

                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" id="landscapeVersion" name="version" class="form-control" ng-model="vm.landscape.version">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="vm.incrementVersion()"><span class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                  </div>
                </div>

              </div>

              <div class="form-group">
                <label for="landscapeDescription" class="col-sm-3 control-label">Description:</label>
                <div class="col-sm-9">
                  <textarea id="landscapeDescription" class="form-control" name="description" rows="3" ng-model="vm.landscape.description"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label for="landscapeInfoLink" class="col-sm-3 control-label">Info Link:</label>
                <div class="col-sm-9">
                  <input type="text" id="landscapeInfoLink" name="infoLink" class="form-control" ng-model="vm.landscape.infoLink" />
                </div>
              </div>

              <div class="form-group">
                <label for="landscapeInfoLinkLabel" class="col-sm-3 control-label">Link Text:</label>
                <div class="col-sm-9">
                  <input type="text" id="landscapeInfoLinkLabel" name="infoLinkText" class="form-control" ng-model="vm.landscape.infoLinkText" />
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default" ng-class="{'panel-danger': vm.imageError}">
          <div class="panel-heading title-heading">
            <h2 class="panel-title pull-left">Image</h2>
            <button type="button" class="btn btn-default pull-right" ng-show="!vm.showUploadNewImage" ng-click="vm.toggleUploadNewImage()">
              <span class="glyphicon glyphicon-open"></span> Upload New
            </button>
            <button type="button" class="btn btn-info pull-right" ng-show="vm.showUploadNewImage" ng-click="vm.toggleUploadNewImage()">
              <span class="glyphicon glyphicon-refresh"></span> Reset
            </button>
          </div>
          <div class="panel-body">
            <div class="alert alert-danger" ng-show="vm.imageError">
              <strong>{{vm.imageError}}</strong>
            </div>

            <div ng-show="vm.showUploadNewImage">
              <div image-upload></div>
            </div>
            <div class="media" ng-show="!vm.showUploadNewImage">
              <div class="pull-right" style="min-height: 128px; min-width: 128px; margin-left: 25px">
                <img ng-src={{vm.imgSrc}} >
              </div>
              <div class="media-body">
                <div class="form-group" ng-class="{ 'has-success': vm.form.imageUri.$valid && vm.submitted, 'has-error': vm.form.imageUri.$invalid && vm.submitted }">
                  <label for="landscapeImageUri" class="control-label">Image URI:</label>

                  <input type="text" id="landscapeImageUri" name="imageUri" class="form-control" ng-model="vm.imgSrc" required mongoose-error />
                  <p class="help-block" ng-show="(vm.form.imageUri.$error.required) && vm.submitted">
                    Image URI is required.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="templateRow" class="row">
      <div class="col-md-12">
        <div class="panel panel-default" ng-class="{ 'panel-danger': !vm.templateSelected && vm.submitted}">
          <div class="panel-heading title-heading">
            <h2 class="panel-title pull-left">CloudFormation Template</h2>
            <div class="pull-right" ng-show="false">
              <!-- look like this was never implemented -->
              <button type="button" class="btn btn-default" ng-show="!vm.showUploadNewTemplate" ng-click="vm.showUploadNewTemplate = true">
                <span class="glyphicon glyphicon-open"></span> Upload New
              </button>
              <button type="button" class="btn btn-info" ng-show="vm.showUploadNewTemplate" ng-click="vm.showUploadNewTemplate = false">
                <span class="glyphicon glyphicon-refresh"></span> Reset
              </button>
            </div>
          </div>
          <div class="panel-body">
            <p style="color: #a94442; margin-bottom: 15px;" ng-show="false">
              CloudFormation Template is required.
            </p>
            <div ng-show="showUploadNewTemplate">
              <div ngf-drop="vm.onFileSelect($files, vm.form)" ng-file-drag-over-class="dragover">
                drop file here
              </div>
              <div class="form-group" ng-class="{ 'has-success': vm.templateSelected && vm.submitted, 'has-error': !vm.templateSelected && vm.submitted }">
                <input type="file" ngf-select="vm.onFileSelect($files, vm.form)" >
              </div>
            </div>
               <textarea class="form-control awsTemplate"
                                  ng-model="vm.landscape.cloudFormationTemplate"
                                  ng-show="!vm.showUploadNewTemplate"
                                  ng-file-drop="vm.onFileSelect($files, vm.form)"
                                  ng-file-drag-over-class="dragover"
                                  msd-elastic
                                  required>
                        </textarea>



          </div>
        </div>
      </div>
    </div>

    <div id="bottomButtonRow" class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" ng-click="go('/landscapes/' + landscape._id)">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button class="btn btn-danger" type="button"
                  ng-show="vm.hasPermission(vm.currentUser, 'D', vm.landscape._id)"
                  ng-click="vm.deleteLandscape()">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
          <button class="btn" type="submit" ng-class="{'btn-success': vm.form.$dirty }" ng-disabled=!vm.form.$dirty >
            <span class="glyphicon glyphicon-save"></span> Save
          </button>
        </div>
      </div>
    </div>

  </form>
</div>

<div ng-include="'/modules/landscapes/client/views/footer.html'"></div>

<script type="text/ng-template" id="confirmDeleteModal.html">
  <div class="modal-header">
    <strong style="font-size: 18px;">Delete Landscape?</strong>
  </div>
  <div class="modal-body" style="padding: 10px 15px 10px 15px">
    <h4 style="font-size: 14px;">{{ msg }}</h4>
  </div>
  <div class="modal-footer" style="margin-top: 0; padding: 15px">
    <button class="btn btn-primary" ng-click="confirmDeleteButtonClick(false)">
      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
    </button>
    <button class="btn btn-danger" ng-click="confirmDeleteButtonClick(true)">
      <span class="glyphicon glyphicon-remove"></span> Delete
    </button>
  </div>
</script>
