<div ng-include="'partials/navbar'"></div>
<div ng-data="landscape">
  <form class="vm.form.landscapesForm" name="vm.form" role="form" ng-submit="vm.save(vm.form)" novalidate>

    <div id="titleRow" class="row">
      <h2 class="pull-left col-md-9"><span class="glyphicon glyphicon-plus-sign"></span> New Landscape</h2>
      <div class="col-md-3">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" ui-sref="landscapes.list">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button class="btn btn-default" type="submit" ng-class="{ 'btn-success': vm.form.$valid && vm.submitted }">
            <span class="glyphicon glyphicon-save"></span> Save
          </button>
        </div>
      </div>
    </div>

    <div id="formRow" class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-horizontal">
              <div class="form-group" show-errors ng-class="{ 'has-success': vm.form.name.$valid && vm.submitted, 'has-error': vm.form.name.$invalid && vm.submitted }">
                <label for="landscapeName" class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-9">
                  <input type="text" id="landscapeName" name="name" class="form-control" ng-model="vm.landscape.name" ng-minlength="3" required mongoose-error />
                  <p class="help-block" ng-show="(vm.form.name.$error.minlength || vm.form.name.$error.required) && vm.submitted">
                    Name must be at least 3 characters.
                  </p>
                  <p class="help-block" ng-show="vm.form.name.$error.mongoose">
                    {{ errors.name }}
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label for="landscapeVersion" class="col-sm-3 control-label">Version:</label>
                <div class="col-sm-9">
                  <input type="text" id="landscapeVersion" name="version" class="form-control" tabindex="-1" ng-model="vm.landscape.version" readonly />
                </div>
              </div>

              <div class="form-group">
                <label for="landscapeDescription" class="col-sm-3 control-label">Description:</label>
                <div class="col-sm-9">
                  <textarea id="landscapeDescription" class="form-control" name="description" rows="3" ng-model="vm.landscape.description"></textarea>
                  <!--if empty grab text from CloudFormation template Description on upload-->
                </div>
              </div>

              <div class="form-group">
                <label for="landscapeInfoLink" class="col-sm-3 control-label">Info Link:</label>
                <div class="col-sm-9">
                  <input type="text" id="landscapeInfoLink" name="infoLink" class="form-control" ng-model="vm.landscape.infoLink" />
                </div>
              </div>

              <div class="form-group">
                <label for="landscapeinfoLinkText" class="col-sm-3 control-label">Link Text:</label>
                <div class="col-sm-9">
                  <input type="text" id="landscapeinfoLinkText" name="infoLinkText" class="form-control" ng-model="vm.landscape.infoLinkText" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default" ng-class="{'panel-danger': imageError}">
          <div class="panel-heading title-heading">
            <h2 class="panel-title pull-left">Image</h2>
            <!-- Image upload toggle button -->
            <button type="button" class="btn btn-default pull-right" ng-show="!vm.showUploadNewImage" ng-click="vm.toggleUploadNewImage()">
              <span class="glyphicon glyphicon-open"></span> Upload New
            </button>
            <button type="button" class="btn btn-info pull-right" ng-show="vm.showUploadNewImage" ng-click="vm.toggleUploadNewImage()">
              <span class="glyphicon glyphicon-refresh"></span> Reset
            </button>
          </div>
          <div class="panel-body">
            <div class="alert alert-danger" ng-show="imageError">
              <strong>{{imageError}}</strong>
            </div>

            <div ng-show="vm.showUploadNewImage">
              <div image-upload></div>
            </div>
            <div class="media" ng-show="!vm.showUploadNewImage">
              <!-- icon image -->
              <div class="pull-right" style="min-height: 128px; min-width: 128px; margin-left: 25px">
                <img ng-src={{vm.imgSrc}} >
              </div>
              <div class="media-body">
                <div class="form-group" ng-class="{ 'has-success': vm.form.imageUri.$valid && submitted, 'has-error': vm.form.imageUri.$invalid && submitted }">
                  <label for="landscapeImageUri" class="control-label">Image URI:</label>
                  <input type="text" id="landscapeImageUri" name="imageUri" class="form-control" ng-model="vm.landscape.imageUri" required mongoose-error />
                  <p class="help-block" ng-show="(vm.form.imageUri.$error.required) && submitted">
                    Image URI is required.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="templateRow" class="row">
      <div class="col-md-12">

        <div class="panel panel-default"
             ng-class="{ 'panel-success': vm.form.template.$valid && vm.submitted, 'panel-danger': vm.form.template.$invalid && vm.submitted }">
          <div class="panel-heading title-heading">
            <h2 class="panel-title pull-left">CloudFormation Template</h2>
            <button type="button" class="btn btn-default pull-right"
                    ng-show="vm.templateSelected"
                    ng-click="vm.resetSelectCloudFormationTemplatePanel(vm.form)">
              <span class="glyphicon glyphicon-refresh"></span> Reset
            </button>
          </div>
          <div class="form-group" show-errors>
             <div class="panel-body">
               <p style="color: #a94442; margin-bottom: 15px;" ng-show="vm.form.template.$error.required && vm.submitted">
                 CloudFormation Template is required.
               </p>
               <p style="color: #a94442; margin-bottom: 15px;" ng-show="vm.form.template.$error.json && vm.submitted">
                 CloudFormation Template is not valid JSON.
               </p>
               <div ng-show="!vm.templateSelected">
                 <div class="drop-box" ngf-drop="vm.onFileSelect($files, vm.form)" ng-file-drag-over-class="dragover">
                   drop file here
                 </div>
                 <div class="form-group" ng-class="{ 'has-success': vm.templateSelected && vm.submitted, 'has-error': !vm.templateSelected && submitted }">
                   <input type="file" ngf-select="vm.onFileSelect($files, vm.form)" >
                 </div>
               </div>
               <textarea class="form-control awsTemplate" name="template" ng-class="{'redTextarea': vm.form.template.$invalid }"
                      ng-file-drop="vm.onFileSelect($files, vm.form)"
                      ng-file-drag-over-class="dragover"
                      ng-model="vm.landscape.cloudFormationTemplate"
                      ng-show="vm.templateSelected"
                         msd-elastic
                      required >
               </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="bottomButtonRow" class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" ui-sref="landscapes.list">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button class="btn btn-default" type="submit" ng-class="{ 'btn-success': vm.form.$valid && submitted }">
            <span class="glyphicon glyphicon-save"></span> Save
          </button>
        </div>
      </div>
    </div>

  </form>
</div>

<div ng-include="'/modules/landscapes/client/views/footer.html'"></div>
