<div id="titleRow" class="row tableRow">
    <h2 class="pull-left col-md-9">Settings</h2>
</div>
<div class="row">

    <!--<div class="col-sm-6">-->
    <!--&lt;!&ndash;<form class="form" name="form" ng-submit="changePassword(form)" novalidate>&ndash;&gt;-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading title-heading">-->
    <!--<h2 class="panel-title pull-left">Password</h2>-->
    <!--<button type="button" class="btn btn-default pull-right" ng-show="!changingPassword" ng-click="changingPassword = true">-->
    <!--<span class="glyphicon glyphicon-pencil"></span> Edit-->
    <!--</button>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
    <!--<div class="form-horizontal">-->
    <!--<div class="form-group">-->
    <!--<label class="col-md-4 control-label">Current Password</label>-->
    <!--<div class="col-md-8">-->
    <!--<input type="password" name="password" class="form-control" ng-model="user.oldPassword"-->
    <!--mongoose-error/>-->
    <!--<p class="help-block" ng-show="form.password.$error.mongoose">-->
    <!--{{ errors.other }}-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<label class="col-md-4 control-label">New Password</label>-->
    <!--<div class="col-md-8">-->
    <!--<input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"-->
    <!--ng-minlength="6"-->
    <!--required/>-->
    <!--<p class="help-block"-->
    <!--ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">-->
    <!--Password must be at least 6 characters.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--<p class="help-block"> {{ message }} </p>-->
    <!--</div>-->

    <!--<div class="pull-right" ng-show="changingPassword">-->
    <!--<button type="button" class="btn btn-primary" ng-click="changingPassword=false">-->
    <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
    <!--</button>-->
    <!--<button class="btn btn" type="submit">-->
    <!--<span class="glyphicon glyphicon-save"></span> Save-->
    <!--</button>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--</div>-->

    <div class="col-sm-6">
        <form class="form" name="form" novalidate ng-submit="vm.updateUser(vm.form)">

            <div class="panel panel-default"  ng-class="{ 'panel-primary': editingAccountSettings, 'panel-danger': form.$invalid && submitted }">
                <div class="panel-heading title-heading">
                    <h2 class="panel-title pull-left">Account</h2>
                    <button type="button" class="btn btn-default pull-right" ng-show="!editingAccountSettings"
                            ng-click="editAccountSettings()">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">

                        <div class="form-group"
                             ng-class="{ 'has-success': form.userName.$valid && submitted && editingAccountSettings, 'has-error': form.userName.$invalid && submitted && editingAccountSettings }">
                            <label class="col-md-3 control-label">User Name</label>
                            <div class="col-md-9">
                                <input type="text" name="userName" class="form-control" ng-model="currentUser.name"
                                       ng-disabled="!editingAccountSettings" required/>
                                <p class="help-block" ng-show="form.userName.$error.required && submitted">
                                    User Name is required.
                                </p>
                            </div>
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-success': form.email.$valid && submitted && editingAccountSettings, 'has-error': form.email.$invalid && submitted && editingAccountSettings }">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="email" name="email" class="form-control" ng-model="currentUser.email"
                                       ng-disabled="!editingAccountSettings" required/>

                                <p class="help-block" ng-show="form.email.$error.email && submitted">
                                    Email address is not valid.
                                </p>
                                <p class="help-block" ng-show="form.email.$error.required && submitted">
                                    Email address is required.
                                </p>
                                <p class="help-block" ng-show="form.email.$error.mongoose">
                                    {{ errors.email }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group" ng-show="!editingAccountSettings">
                            <label class="col-md-3 control-label">Role</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="currentUser.role" disabled />
                            </div>
                        </div>

                        <div class="form-group" ng-show="!editingAccountSettings && currentUser.groups" >

                                <label class="col-md-3 control-label">Groups</label>
                                <div class="col-md-9" style="line-height: 32px;">
                                <span ng-repeat="group in currentUser.groups">
                                    <span class="badge alert-success">{{group}}</span>
                                </span>
                                </div>

                        </div>

                    </div>

                    <div class="pull-right" ng-show="editingAccountSettings">
                        <button type="button" class="btn btn-primary" ng-click="cancelEditAccountSettings(form)">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button class="btn btn-default" type="submit" ng-class="{'btn-success': form.$valid && submitted }" >
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                    <div style="margin-bottom: 0" class="text-center"
                         ng-class="{'alert alert-success': message}">{{ message }}</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-include="'/modules/landscapes/client/views/footer.html'"></div>
