<div id="titleRow" class="row">
    <h2 class="pull-left col-md-9"><span class="glyphicon glyphicon-time"></span> History</h2>
    <div class="col-md-3"></div>
</div>
</div>
<div class="row">
    <div ng-data="landscape">
        <div class="col-md-6">
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="{{ '/landscapes/' + landscape._id + '/history'}}">
                        <img class="media-object" src="{{landscape.imageUri}}" alt="...">
                    </a>
                    <div class="media-body">
                        <p><span><strong>Name: </strong></span>{{landscape.name}}</p>
                        <p><span><strong>Version: </strong></span>{{landscape.version}}</p>
                        <p><span><strong>Description: </strong></span>{{landscape.description}}</p>
                        <p><span><strong>Info Link: </strong></span>{{landscape.infoLink}}</p>
                    </div>
                </div>

                <div style="position: relative;">
                    <div style="position: absolute; right: 0px; bottom: 0px;" class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="go('/landscapes/' + landscape._id)"><span class="glyphicon glyphicon-arrow-left"></span> Return</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Version History</h3>
                </div>
                <div class="panel-body">
                    <p><i>Click version below to diff against current...</i></p>
                    <p> 1.3 &nbsp; 03/01/2014 21:00:46</p>
                    <p style="background-color: lightgray"><strong>1.2 &nbsp; 02/26/2014 08:54:01</strong></p>
                    <p> 1.1 &nbsp; 02/09/2014 11:01:55</p>
                    <p> 1.0 &nbsp; 10/23/2013 09:41:21</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Version 1.4 - Current</h3>
            </div>
            <div class="panel-body">
                Text representation of LANDSCAPE properties and each child LANDSCAPE_FLAVOR...
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Version 1.2</h3>
            </div>
            <div class="panel-body">
                Text representation of LANDSCAPE properties and each child LANDSCAPE_FLAVOR...
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <div class="btn-group" style="margin-bottom: 15px">
            <button type="button" class="btn btn-primary btn-default">Side by Side Diff</button>
            <button type="button" class="btn btn-default">Inline Diff</button>
        </div>
    </div>
</div>
<div id="templateRow" class="row">

    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Version 1.4 - Current</h3>
            </div>
            <div class="panel-body">
                <a target="_blank" href="http://cemerick.github.io/jsdifflib/demo.html">http://cemerick.github.io/jsdifflib/demo.html</a>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Version 1.2</h3>
            </div>
            <div class="panel-body">
                <a target="_blank" href="http://cemerick.github.io/jsdifflib/demo.html">http://cemerick.github.io/jsdifflib/demo.html</a>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="pull-left"><p>landscapes.io v0.0.0</p></div>
    <div class="pull-right"><span ng-show="currentUser">{{ currentUser.name }}</span></div>
</div>
